
src/packages/*

src/PagedCarouselPage.iOS/bin/*

src/PagedCarouselPage/bin/*

src/PagedCarouselPage/obj/*

src/PagedCarouselPage.userprefs

sample/PagedCarousePage.Sample.iOS/bin/*

sample/PagedCarousePage.Sample.iOS/obj/*
sample/PagedCarousePage.Sample/bin/*
sample/PagedCarousePage.Sample/obj/*
