
src/packages/*

src/PagedCarouselPage.iOS/bin/*

src/PagedCarouselPage/bin/*

src/PagedCarouselPage/obj/*

src/PagedCarouselPage.userprefs

sample/PagedCarousePage.Sample.iOS/bin/*

sample/PagedCarousePage.Sample.iOS/obj/*
sample/PagedCarousePage.Sample/bin/*
sample/PagedCarousePage.Sample/obj/*

src/PagedCarouselPage.iOS/obj/*

*.suo

sample/PagedCarouselPage.Sample.Android/bin/*

sample/PagedCarouselPage.Sample.Android/obj/*
src/PagedCarouselPage.Android/bin/*
src/PagedCarouselPage.Android/obj/*