
src/packages/*

src/PagedCarouselPage.iOS/bin/*

src/PagedCarouselPage/bin/*

src/PagedCarouselPage/obj/*

src/PagedCarouselPage.userprefs

sample/PagedCarousePage.Sample.iOS/bin/*

sample/PagedCarousePage.Sample.iOS/obj/*
sample/PagedCarousePage.Sample/bin/*
sample/PagedCarousePage.Sample/obj/*

src/PagedCarouselPage.iOS/obj/*

*.suo

sample/PagedCarouselPage.Sample.Android/bin/*

sample/PagedCarouselPage.Sample.Android/obj/*
src/PagedCarouselPage.Android/bin/*
src/PagedCarouselPage.Android/obj/*
sample/PagedCarousePage.Sample.WindowsPhone/Bin/*
sample/PagedCarousePage.Sample.WindowsPhone/Obj/*
src/PagedCarouselPage.WindowsPhone/Bin/*
src/PagedCarouselPage.WindowsPhone/Obj/*
src/PagedCarouselPage.WindowsPhone/PagedCarouselPage.WindowsPhone.csproj.user

sample/PagedCarousePage.Sample.WindowsPhone/PagedCarousePage.Sample.WindowsPhone.csproj.user
